NEXTCLOUD_DATA=./nextcloud_data
NEXTCLOUD_TRUSTED_DOMAINS=change.me.com
SMTP_HOST=smtp.maill.com
SMTP_SECURE=tls
SMTP_NAME=cloud@mail.com
SMTP_PASSWORD=<password>
PHP_MEMORY_LIMIT=1024M
PHP_UPLOAD_LIMIT=5000M
